body {
  background-color: #eaf6f6;
}

hr {
  border-style: none;
  border-top-style: dotted ;
  border-color: olive;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #206a5d;
}
h3 {
  color: #206a5d;
}
